.layout {
  position: fixed;
  left: 0;
  display: grid;
  place-items: center; /* 居中对齐 */
  border-radius: 10px;
  overflow: hidden;
  width: 100vw;
  height: 100vh;
}

.top {
  width: 100vw;
  position: fixed;
  top: 0;
  height: 10px;
  background-color: red($color: #000000);
}

.new {
  grid-template-columns: 100% 0%;
}

.task {
  grid-template-columns: 40% 60%;
}

.none {
  visibility: hidden;
}

.fixed-button-container {
  position: fixed;
  top: 30px; /* 调整按钮距离顶部的距离 */
  right: 30px; /* 调整按钮距离右侧的距离 */
  z-index: 999; /* 确保按钮位于其他内容之上 */
  width: 48px;
  height: 48px;
}



.content {
  text-align: center;
  line-height: 120px;
  background-color: #f0f0f0;
  border-radius: 10px;
  cursor: pointer;
  transition: transform 0.3s, box-shadow 0.5s; /* 添加 transform 和阴影过渡 */
  width: 80%; /* 占据左侧列的宽度 */
  height: 80%;
  animation: breath-animation 4s infinite; /* 应用阴影呼吸动画 */
}

.sider {
  text-align: center;
  line-height: 120px;
  background-color: #f0f0f0;
  border-radius: 10px;
  width: 95%; /* 占据左侧列的宽度 */
  height: 95%;
  transition: box-shadow 0.3s; /* 添加阴影过渡动画 */
}



/* 添加阴影呼吸动画 */
@keyframes breath-animation {
  0% {
    box-shadow: rgba(27, 100, 137, 0.25) 0px 8px 24px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /* 较亮的阴影 */
  }
  25% {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 24px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /* 正常阴影 */
  }
  50% {
    box-shadow: rgba(79, 17, 184, 0.25) 0px 8px 24px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /* 较亮的阴影 */
  }
  75% {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 8px 24px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /* 正常阴影 */
  }
  100% {
    box-shadow: rgba(27, 100, 137, 0.25) 0px 8px 24px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; /* 较亮的阴影 */
  }
}


.ant-upload-list-item-container {
  margin: 10px;
  color: #141414;
}

